// @font-face {
//     font-family: 'Playfair Display';
//     src: url("../fonts/playfair-display/PlayfairDisplay-Regular.ttf") format('truetype');
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'Playfair Display';
//     src: url("../fonts/playfair-display/PlayfairDisplay-Bold.ttf") format('truetype');
//     font-weight: 700;
// }

// @font-face {
//     font-family: 'PT Sans';
//     src: url("../fonts/pt-sans/PTSans-Regular.ttf") format('truetype');
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'PT Sans';
//     src: url("../fonts/pt-sans/PTSans-Bold.ttf") format('truetype');
//     font-weight: 700;
// }

// $$$

// $font-main: 'PT Sans',
// sans-serif;
// $font-second: 'Playfair Display',
// sans-serif;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}