.music {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.music__cover {
    padding-right: 75px;
}

.cover__preview {
    width: 400px;
    padding-bottom: 40px;
}

.cover__img{
    border-radius: 4px;
    box-shadow: -12px -6px 16px 0px #f2ddff80;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



.cover__text {

}

.music__player {

}