.gallery {
    display: flex;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 0 40px;
}

.list__item {
    margin-top: 5px;
    margin-left: 10px;
    width: 100%;
}

.item__img {
    border-radius: 8px;
    width: 100%;
}