// .gallery {
//     max-width: 1920px;
// }

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 0 40px;
}

.list__item {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 100%;
}

.item__img {
    border-radius: 8px;
}